<div>
Create new post
</div>

<%= form_for :post, :url => {:controller => :post, :action => :create} do |f| %>
  
  <%= f.file_field :image %>

  <div class="actions">
    <%= f.submit "create post" %>
  </div>
<% end %>
