<div> 
  <%= @user.email%>
</div>
  <li class="nav-item">
    <%= link_to "show my posts", my_posts_path, method: :get, class: "nav-link text-nowrap" %>
  </li>
<div>
  <% if @user.avatar != nil%>
  <%= image_tag @user.avatar_url %>
  <%end%>
</div>


