<%if @user == nil%>
  <%@users.each do |user|%>
  <li class="nav-item">
    <%= link_to "#{user.email}", "user/#{user.id}", method: :get, class: "nav-link text-nowrap" %>
  </li>
<%end%>
<%else%>
  <li class="nav-item">
    <%= link_to "#{@user.email}", "user/#{@user.id}", method: :get, class: "nav-link text-nowrap" %>
  </li>
<%end%>





