<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-ios.css">
  </head>

  <body>
          <%= render "shared/error_messages", error: @error %>

              <br>
            <br>
            <br>
    <div class ="w3-center ">
      <div class="w3-row ">
        <div class="w3-col s1 m4 l4 ">
          <p>
          </p>
        </div>
        
        <div class="w3-col s10 m4 l4 ">
          <%if @result != nil%>
            <%@result.each do |user|%>

              <div class="w3-row ">
                
                <div class="w3-col s6 m6 l6 ">
                  <%= image_tag(user.avatar_url, :size => "68x68", class:"w3-circle w3-center") %>
                </div>
                
                <div class="w3-col s6 m6 l6 w3-margin-top">
                    <%= link_to "#{user.email}",  {:controller => 'user', :action => 'show', :user_id => user.id}, method: :get, class: "nav-link text-nowrap" %>
                </div>

              </div>
              <br>
            <%end%>
          <%end%>
        </div>
        
        <div class="w3-col s1 m4 l4 ">
            <p>
            </p>
        </div>
      </div>
    </div>

  

 




       



    
  </body>
</html>


